@charset "UTF-8";

body {
    margin: 0 auto;
    background-color: var(--theme-main-bg);
    background-image: var(--bg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-family: 'Inter', Sans-Serif;
    transition: background .3s linear;
}

#app {
    width: 100vw;
    height: 100vh;
    min-width: 350px;
    color: var(--theme-color);
}

#app template {
    display: contents;
    height: 100vh;
}

iframe[name=adapterjs-alert] {
    display: none;
}

/*滚动条*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(132, 132, 132, .1);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(132, 132, 132, .2);
}

::-webkit-scrollbar-corner {
    display: none;
}

/* 基础css声明 */
.flex {
    display: flex;
}

.relative {
    position: relative;
}

.max-width {
    width: 100%;
}

.max-flex-center {
    display: flex;
    align-items: center;
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
}

.max-flex {
    display: flex;
    width: 100%;
}

.between {
    justify-content: space-between;
}

.right {
    text-align: right;
    justify-content: right;
}

.column {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.block {
    display: block !important;
}

.bold {
    font-weight: bold;
}

.hide {
    display: none;
}

/* 自定义样式 */
.myself {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: var(--theme-color-primary);
    align-items: center;
    background: var(--theme-header-bg);
    border-bottom: 1px solid var(--theme-boder-color);
}

.gray {
    filter: grayscale(1);
}

.hide {
    display: none;
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.username {
    font-size: 16px;
    white-space: nowrap;
    font-weight: bold;
}

.wxcode {
    width: 200px;
    height: 200px;
}

.play-icon {
    position: absolute;
    color: #eee;
    font-size: 3rem;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.progress-text {
    position: absolute;
    top: 50%;
    font-size: 1.3rem;
    font-weight: bold;
    color: #EEE;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
}

.video-time {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #eee;
}

.search-user {
    padding: 20px;
}

.online {
    bottom: 1px;
    right: -2px;
    border: 2px solid #fff;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 1px 0 #ccc inset;
    background: #17e2a7;
}

.img-loaded {
    animation: dialog-fade-in .3s;
}

.filter {
    filter: blur(5px);
}

.tips {
    font-size: 13px;
    color: var(--theme-color-sub);
    line-height: 16px;
}

.uid {
    text-align: center;
    margin: 8px 0;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    color: var(--theme-color);
}

.data-item {
    display: flex;
    flex: 1;
    min-width: 0;
    width: 100%;
    font-size: 13px;
}

.data-item .column {
    flex: 1;
    min-width: 0;
    margin: 0 10px;
}

.data-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: .5rem;
}

.user-brief {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 15px;
}

.user-brief .data-name {
    margin-bottom: 0;
    margin-left: 10px;
    flex: 1;
}

.last-time {
    font-size: smaller;
    margin-bottom: .4rem;
}

.preview {
    color: var(--theme-color-sub);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tree-scrollbar {
    height: calc(100% - 150px);
    margin-top: 15px;
}

.room-info {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.room-name {
    font-weight: bold;
    margin-left: 8px;
    font-size: 14px;
}

.room-name > div {
    margin-top: 2px;
    font-weight: normal;
    font-size: 12px;
    color: var(--theme-color-sub);
}

.room-name .el-icon {
    vertical-align: middle;
    margin-right: 1px;
}

.drag-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: var(--theme-bg);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1) inset;
    display: flex;
    font-size: 1.2rem;
    color: var(--theme-color);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(var(--global-filter));
}

.drag-box .el-icon {
    font-size: 1.8rem;
    margin: 0 5px;
}

.login-tips {
    color: var(--el-color-danger);
    font-size: 12px;
    line-height: 1rem;
    text-align: center;
    width: 100%;
}

.material-title {
    text-align: left;
    margin-bottom: 20px;
    font-size: 13px;
    color: var(--theme-color-sub);
    line-height: 16px;
}

.convert-audio .el-icon {
    font-size: 18px;
    vertical-align: text-bottom;
}

.right-navigate {
    display: none;
}

.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
}

.btn-group {
    display: flex;
    margin-left: 12px;
    align-items: center;
}

.reject-msg {
    position: absolute;
    left: -32px;
    bottom: 5px;
    font-size: 1.6rem;
    color: #f56c6c;
}

.sending-msg {
    position: absolute;
    left: -30px;
    bottom: 5px;
    font-size: 1.2rem;
    color: var(--theme-color);
}

.setting-scroll {
    overflow: scroll;
    max-height: 45vh;
}

.unread-audio {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: linear-gradient(135deg, #f56c6c 10%, #f15f5f 100%);
    right: -15px;
    top: 17px;
}

.loading {
    animation: rotating 3s linear infinite;
}

.el-loading-mask {
    --el-mask-color: transparent;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1) inset;
}

.el-loading-spinner .path {
    stroke: var(--theme-color);
}

.theme-switch-btn {
    height: 30px;
}

.record-btn {
    --btn-width: 45px;
    --btn-border-width: 10px;
    position: absolute;
    left: calc(50% - 32px);
    bottom: 25px;
    width: var(--btn-width);
    height: var(--btn-width);
    background: #eee;
    border-radius: 50%;
    border: var(--btn-border-width) solid #606266;
    cursor: pointer;
    transition: all .3s;
    z-index: 2;
}

.record-btn > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-btn .el-icon {
    font-size: 1.5rem;
    color: #303133;
}

.record-tips {
    color: #fff;
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    text-align: center;
}

.record-opt {
    position: absolute;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 36px;
    color: #FFF;
    z-index: 1;
}

.record-opt .el-icon {
    padding: 5px;
    cursor: pointer;
}

.recording {
    --btn-width: 25px;
    --btn-border-width: 20px;
    background: #d05353;
}

#local-video {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 240px;
    height: 120px;
    border-radius: 3px;
    object-fit: cover;
    background-color: transparent;
    transition: width .5s;
}

#remote-video, #recorder-video {
    width: 100%;
    height: 60vh;
    display: block;
    object-fit: cover;
    background-color: #000;
}

.flip {
    transform: rotateY(180deg);
}

.video-option {
    text-align: center;
    width: 100%;
}

.connect-time {
    color: var(--theme-color);
    font-size: 13px;
    font-weight: bold;
}

.badge {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    font-size: 13px;
    height: 20px;
    background-color: #0a80ff;
    color: #fff;
    border-radius: 50%;
    margin-left: auto;
}

.phone-icon {
    vertical-align: sub;
    font-size: 20px;
    margin-right: 2px;
    animation: shake 3s 0s infinite;
    transform-origin: bottom;
}

.mini-audio, .mini-video {
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: var(--el-box-shadow-light);
    background-color: var(--theme-dialog);
    z-index: 3001;
    transition: padding .1s;
}

.mini-video {
    padding: 3px;
    height: 100px;
}

.mini-audio:active {
    padding: 12px;
}

.mini-video:active {
    padding: 4px;
}

.mini-audio .el-icon {
    font-size: 25px;
}

.mini-video #mini-remote {
    width: 75px;
    height: 100%;
    border-radius: 5px;
    background-color: #000;
    object-fit: cover;
    transform: rotateY(180deg);
}

.el-input + .el-button,
.el-button + .el-button,
.el-textarea + .el-button,
.el-input-number + .el-select {
    margin-left: 10px;
}

.el-link + .el-link {
    margin-left: 20px;
}

/*viewer*/
#viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
    backdrop-filter: blur(var(--global-filter));
}

.viewer-img {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.viewer-img > img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transition: transform .1s;
}

.viewer-tools .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    transition: background .3s;
    background-color: rgba(0, 0, 0, .1);
    background-size: 80%;
    background-position: center;
}

.viewer-tools .btn:hover {
    background-color: rgba(0, 0, 0, .2);
}

.viewer-tools .prev {
    position: absolute;
    left: 30px;
    top: 50%;
    background-image: url(../image/chevron-back-outline.svg);
}

.viewer-tools .next {
    position: absolute;
    right: 30px;
    top: 50%;
    background-image: url(../image/chevron-forward-outline.svg);
}

.viewer-tools .close {
    position: absolute;
    right: 35px;
    top: 20px;
    background-image: url(../image/close-outline.svg);
}

.viewer-fade-in {
    animation: viewer-fade-in .3s;
}

.viewer-fade-out {
    animation: viewer-fade-out .3s;
}

@keyframes viewer-fade-in {
    from {
        opacity: 0;
        transform: scale3d(.8, .8, 1);
    }

    to {
        opacity: 1;
    }
}

@keyframes viewer-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale3d(.8, .8, 1);
    }
}

/* ELEMENT-UI */
.el-aside {
    --el-aside-width: 350px;
    transition: width .2s;
    background-color: var(--theme-bg);
    backdrop-filter: blur(var(--global-filter));
    border: 1px solid var(--theme-boder-color);
    display: flex;
    flex-direction: column;
}

.el-container {
    height: 100%;
}

.el-header {
    --el-header-padding: 12px 20px;
    --el-header-height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-boder-color);
    backdrop-filter: blur(var(--global-filter));
}

.el-main {
    padding: 0;
}

.el-footer {
    --el-footer-padding: 13px 20px;
    --el-footer-height: auto;
    border: 1px solid var(--theme-boder-color);
    background-color: var(--theme-bg);
    backdrop-filter: blur(var(--global-filter));
}

/* el-tree */
.el-tree {
    background: transparent;
    color: var(--theme-color);
    overflow-y: scroll;
}

.el-aside .el-tree-node__content {
    display: block;
    height: auto;
    padding: 17px 30px !important;
    background: var(--theme-black);
    transition: background-color .5s;
    font-size: 14px;
    border-bottom: 1px solid var(--theme-boder-color);
    box-shadow: 1px 0px 5px 0px rgb(0 0 0 / 5%);
}

.el-popper .el-tree {
    max-height: 30vh;
    padding: 5px 0;
}

.el-popper .el-tree-node__content {
    display: block;
    height: auto;
    transition: background-color .5s;
}

.el-tree-node__content:hover,
.el-tree-node:focus > .el-tree-node__content {
    background: var(--theme-black-hover);
}

.el-tree-node__expand-icon {
    display: none;
}

/* el-form */
.setting .el-form {
    margin: 15px 10px 0;
}

.el-form-item.right .el-form-item__content {
    justify-content: flex-end;
}

.el-form-item.center .el-form-item__content {
    justify-content: center;
}

.el-form-item__error {
    padding-top: 5px;
}

.el-form-item__label {
    font-size: 12px;
    color: var(--theme-color);
    align-items: center;
    height: auto;
}

.el-color-predefine__colors {
    flex: 0;
}

/* el-select */
.el-select-icon {
    position: absolute;
    left: 10px;
    color: var(--theme-color);
    z-index: 1;
}

.material .el-select .el-input__inner {
    padding-left: 20px;
}

.el-select-dropdown__item {
    color: var(--theme-color);
}

.el-select__popper.el-popper[role=tooltip] {
    background: var(--theme-dialog);
    border: none;
    text-align: left;
    backdrop-filter: blur(var(--global-filter));
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: rgba(0, 0, 0, .05);
}

.el-input.is-disabled .el-select__icon {
    visibility: hidden;
}

/*.el-picker-panel*/
.el-picker-panel {
    color: var(--theme-color);
    background: transparent;
}

.el-date-picker__header-label, .el-picker-panel__icon-btn, .el-date-table th {
    color: var(--theme-color);
}

/*el-color-picker__color*/
.el-color-predefine__color-selector {
    margin: 0 10px;
}

.el-color-predefine__color-selector > div {
    border: 1px solid var(--theme-boder-color);
}

/*.el-slider*/
.el-slider__button {
    background-color: var(--theme-dialog);
    backdrop-filter: blur(var(--global-filter));
}

.el-slider__runway {
    background-color: rgba(0, 0, 0, .08);
}

/*el-upload-dragger*/
.el-upload-dragger {
    background-color: transparent;
    border: 1px dashed var(--theme-color-sub);
}

.el-upload-dragger.is-dragover {
    background-color: transparent;
    border: 2px dashed var(--el-color-primary);
}

.el-upload-dragger .el-icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

.el-upload-dragger .el-upload__text {
    color: var(--theme-color);
}

/* el-input */
.el-input__inner {
    color: var(--theme-color) !important;
    font-size: 13px;
}

.el-input__inner::placeholder {
    color: var(--theme-color-sub) !important;
}

.el-input__wrapper {
    height: 35px;
}

.el-input__prefix {
    color: var(--theme-color);
}

.el-input__wrapper {
    border: 1px solid var(--theme-boder-color);
    background-color: var(--theme-black);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .05) !important;
}

.el-textarea__inner {
    color: var(--theme-color) !important;
    font-size: 13px;
    border: 1px solid var(--theme-boder-color);
    background-color: var(--theme-black);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 5%) !important;
}

.el-textarea .el-input__count {
    color: var(--theme-color-sub);
    background: transparent;
}

.el-input__wrapper:hover,
.el-textarea__inner:hover,
.el-input__wrapper.is-focus,
.el-select .el-input__wrapper.is-focus,
.el-select .el-input.is-focus .el-input__wrapper {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1) !important;
}

.el-input.is-disabled .el-input__wrapper {
    background-color: var(--theme-black-hover);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .05) !important;
}

.el-input-group__prepend {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
    background-color: var(--theme-black);
    padding: 3px 20px;
    color: var(--theme-color);
}

.el-input .el-input__count {
    color: var(--theme-color);
}

.el-input .el-input__count .el-input__count-inner {
    background: transparent;
}

.el-input:not(.is-disabled) .el-input__inner[name=email] {
    cursor: pointer;
}

/* el-button */
.el-button.is-circle .el-icon + span,
.el-button.is-plain .el-icon + span {
    margin: 0;
}

.el-button.is-loading .el-icon:not(.is-loading) {
    display: none;
}

.el-link__inner .el-icon,
.el-button:not(.is-circle):not(.is-plain):not(.is-loading) .el-icon {
    vertical-align: sub;
    font-size: 14px;
    margin-right: 5px;
}

.el-button, .el-button:not(.is-text) {
    border: 1px solid var(--theme-boder-color);
    color: var(--theme-color);
    font-size: 12px;
    outline: 0;
    background-color: var(--theme-black);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .05);
}

.max-flex-center .el-button {
    height: 36px;
}

.el-button:hover, .el-button.is-circle:hover, .el-button:not(.is-text):hover {
    color: var(--theme-color);
    border: 1px solid var(--theme-boder-color);
    background-color: var(--theme-black-hover);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .05) inset;
}

.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
    border: 1px solid var(--theme-boder-color);
    background-color: var(--theme-black-hover);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .05);
}

.el-button.is-circle {
    width: 35px;
    height: 35px;
    font-size: 14px;
    border: 1px solid var(--theme-boder-color);
    color: var(--theme-color);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .05);
}

/* el-menu */
.el-menu {
    border: none;
    background-color: transparent;
    border-radius: 4px;
}

.el-menu.contextmenu {
    position: absolute;
    backdrop-filter: blur(var(--global-filter));
    background: var(--theme-popper);
    box-shadow: var(--el-box-shadow-light);
    z-index: 2;
}

.el-menu-item {
    color: var(--theme-color);
    padding: 18px 70px;
    transition: background-color .5s;
    line-height: normal;
}

.contextmenu .el-menu-item {
    padding: 12px 35px;
    font-size: 13px;
    height: auto;
}

.el-menu-item .el-icon {
    font-size: 14px;
    vertical-align: middle;
}

.el-menu-item:focus, .el-menu-item:hover {
    background-color: rgba(0, 0, 0, .05) !important;
}

.el-menu-item.is-active, .message-tools .el-menu-item.is-active {
    color: var(--theme-color) !important;
    border: none;
}

.el-menu--horizontal .el-menu-item {
    padding: 10px;
    font-size: 12px;
    line-height: normal;
    color: var(--theme-color) !important;
    height: auto;
    border: none;
}

/* el-popper */
.el-popper.is-light, .el-picker__popper.el-popper[role=tooltip] {
    background: var(--theme-popper);
    border: none;
    color: var(--theme-color);
    font-size: 14px;
    backdrop-filter: blur(var(--global-filter));
}

.el-popper.convert {
    max-width: 280px;
}

.el-select__popper .el-popper__arrow::before {
    background: var(--theme-dialog) !important;
}

.el-popper.is-light .el-popper__arrow::before {
    border: 1px solid transparent !important;
    background: var(--theme-popper);
    backdrop-filter: blur(var(--global-filter));
}

.el-popper.mini-menu {
    min-width: 0;
    border: none;
    padding: 0;
    border-radius: 4px;
}

.el-popper.mini-menu.user-popover {
    background: transparent;
    box-shadow: none;
}

.el-popover__title {
    color: var(--theme-color);
}

.el-fade-in-linear-leave-active {
    transition: none;
}

/* el-avatar */
.el-avatar {
    vertical-align: top;
    background-size: cover;
    position: relative;
    background: #9fa9bd;
}

.el-avatar::before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

/* lite-chatbox */
.lite-chatbox {
    font: unset;
}

.lite-chatbox .el-scrollbar__view {
    padding: 0 5px;
}

.lite-chatbox .content {
    margin: 0 12px !important;
    padding: 0;
    max-width: 60%;
    font-size: 14px;
    border-radius: 10px !important;
}

.lite-chatbox .content .emoji {
    width: 16px;
    height: 16px;
    margin: 0 2px;
    vertical-align: sub;
}

.move-animation {
    animation: var(--theme-bubble-animation);
}

.lite-chatbox .cmsg {
    display: flex;
    margin: 10px 10px;
}

.lite-chatbox .cleft {
    --theme-image-loading: #333;
    --theme-blob-message-sub: #909399;
    --theme-image-background: white;
    --theme-bubble-animation: move-left linear .3s;
    --audio-rotate: 90deg;
}

.lite-chatbox .cright {
    --theme-image-loading: #eee;
    --theme-blob-message-sub: #ddd;
    --theme-image-background: var(--theme-bubble-color);
    --theme-bubble-animation: move-right linear .3s;
    --audio-rotate: 270deg;
}

.lite-chatbox .cright .content {
    background: var(--theme-bubble-color, #212121);
}

.lite-chatbox .cleft .message:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 1px;
    top: 10px;
    border-top: 8px solid transparent;
    border-right: 10px solid white;
    border-bottom: 6px solid transparent;
    margin-left: -6px;
}

.lite-chatbox .cright .message:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 1px;
    top: 10px;
    border-top: 8px solid transparent;
    border-left: 10px solid var(--theme-bubble-color, #020202);
    border-bottom: 6px solid transparent;
    margin-right: -6px;
}

.lite-chatbox .message {
    padding: 10px 10px;
}

.lite-chatbox .message:after {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
}

.lite-chatbox .mask {
    cursor: pointer;
}

.lite-chatbox.group .mask {
    margin-top: 16px;
}

.lite-chatbox.group .cmsg {
    margin: 15px 10px;
}

.lite-chatbox .name {
    color: var(--theme-color);
}

.lite-chatbox .cleft .name,
.lite-chatbox .cright .name {
    margin: 0 12px 4px 12px;
}

.lite-chatbox .cright {
    flex-flow: row-reverse;
}

.lite-chatbox .content .audio-message {
    cursor: pointer;
}

.lite-chatbox .cright .content .audio-message {
    display: flex;
    flex-direction: row-reverse;
}

.lite-chatbox .content .audio-group .el-icon {
    font-size: 1rem;
    vertical-align: sub;
    transform: rotate(var(--audio-rotate))
}

.lite-chatbox .content .audio-time {
    padding: 0 4px;
    font-size: 13px;
}

.lite-chatbox .content .blob-message {
    margin: 0 5px;
    width: 150px;
    padding: 14px 16px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.lite-chatbox .content .blob-message::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--upload-progress);
    z-index: 0;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(255,255,255,.2);
    transition: width .5s;
}

.lite-chatbox .content .blob-message .el-icon {
    font-size: 1.6rem;
    height: 100%;
}

.lite-chatbox .content .blob-message .blob-name {
    font-size: 13px;
    font-weight: bold;
    width: 110px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lite-chatbox .content .blob-message .blob-tips {
    text-align: center;
    font-size: 12px;
    color: var(--theme-blob-message-sub);
}

.lite-chatbox .name .htitle {
    margin-right: 1px;
    padding: 0 5px;
    max-width: 60px;
    background-color: #606266;
}

.lite-chatbox .name .admin {
    background-color: #72D6A0;
}

.lite-chatbox .name .owner {
    background-color: #f56c6c;
}

.lite-chatbox .tips span {
    background-color: #303133;
    padding: 4px 8px;
}

.lite-chatbox .tips .tips-info, .lite-chatbox .tips .tips-primary {
    background-color: #303133;
}

@keyframes move-left {
    from {
        left: 10px;
    }

    to {
        left: 0;
    }

    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move-right {
    from {
        right: 10px;
    }

    to {
        right: 0;
    }

    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* el-dialog */
.el-dialog {
    background: var(--theme-dialog);
}

.video-dialog .el-dialog__body,
.clipboard .el-dialog__body {
    padding: 5px;
}

.el-dialog--center .el-dialog__body {
    text-align: center;
    padding: calc(var(--el-dialog-padding-primary) + 10px) var(--el-dialog-padding-primary);
}

.el-overlay {
    backdrop-filter: blur(var(--global-filter));
}

.el-dialog__header {
    padding: 20px;
    margin-right: 0;
    background: var(--theme-header-bg);
    border-bottom: 1px solid var(--theme-boder-color);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
}

.el-dialog__title {
    font-size: 16px;
    vertical-align: sub;
    color: var(--theme-color);
}

.el-dialog__body {
    color: var(--theme-color);
}

@keyframes dialog-fade-in {
    from {
        opacity: 0;
        transform: scale3d(.9, .9, 1);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes dialog-fade-out {
    from {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale3d(.8, .8, 1);
    }
}

/* el-image */
.lite-chatbox .el-image {
    vertical-align: middle;
    overflow: hidden;
    transition: width 0.5s;
    border-radius: 10px;
    max-height: 300px;
    min-height: 2rem;
    width: var(--image-scale-width);
}

.lite-chatbox .el-image:before {
    content: '';
    left: 0;
    width: 100%;
    position: absolute;
    height: var(--upload-progress);
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(2px);
    transition: height .5s;
    z-index: 2;
}

.el-image .img-load {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #606266;
    vertical-align: middle;
    border-radius: 10px;
    background: var(--theme-image-background);
}

.el-image .img-load .el-icon {
    font-size: 2em;
    color: var(--theme-image-loading, #333);
}

.el-image .el-image__placeholder {
    background: transparent;
}

.lite-chatbox .el-image img {
    height: inherit;
}

.lite-chatbox .el-image img[type=image] {
    cursor: pointer;
}

/* el-descriptions */
.el-descriptions__content .el-icon {
    font-size: 15px;
    vertical-align: sub;
}

.el-descriptions__label:not(.is-bordered-label) {
    margin-right: 10px;
}

.el-descriptions,
.el-descriptions__title,
.el-descriptions__label:not(.is-bordered-label),
.el-descriptions__content:not(.is-bordered-label) {
    color: var(--theme-color);
}

.el-descriptions__body {
    color: var(--theme-color);
    background-color: transparent;
}

/*el-drawer*/
.material .el-input.is-disabled .el-input__wrapper {
    background-color: transparent;
    box-shadow: none !important;
    border: 1px solid transparent;
    cursor: text;
    border-bottom: 1px solid var(--theme-boder-color);
    border-radius: 0;
}

.el-drawer {
    background-color: var(--theme-dialog);
}

.el-drawer__header {
    background: var(--theme-header-bg);
    color: var(--theme-color);
    margin-bottom: 20px;
    padding-bottom: var(--el-drawer-padding-primary);
    border-bottom: 1px solid var(--theme-boder-color);
}

.material .el-input.is-disabled .el-input__inner {
    cursor: text;
}

.el-drawer__body {
    text-align: center;
}

/*.el-collapse*/
.el-collapse {
    border: none;
    margin: 1rem 0.2rem;
}

.el-collapse-item__header {
    background-color: var(--theme-black);
    color: var(--theme-color);
    border: none;
    margin: 0 10px;
    border-radius: 5px;
    padding-left: 15px;
    transition: background .3s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
}

.el-collapse-item {
    margin-bottom: 5px;
}

.el-collapse-item__header:hover {
    background-color: var(--theme-black-hover);
}

.el-collapse-item__wrap {
    background-color: transparent;
    border: none;
}

.el-collapse-item__content {
    padding: 10px;
}

/* el-input-number */
.el-input-number__increase {
    border-left: 1px solid var(--theme-boder-color);
    background: transparent;
}

.el-input-number__decrease {
    border-right: 1px solid var(--theme-boder-color);
    background: transparent;
}

/* el-checkbox */
.el-checkbox {
    color: var(--theme-color);
}

.el-checkbox.is-disabled {
    cursor: not-allowed;
}

.el-checkbox__label {
    padding: 0;
}

.el-checkbox__label .el-icon {
    font-size: 16px;
    vertical-align: middle;
    padding-right: 8px;
}

.el-checkbox__inner {
    display: none;
}

.el-checkbox__input.is-disabled .el-checkbox__inner {
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid rgba(125, 125, 125, .4);
}

/*.el-message*/
.el-message {
    background-color: var(--theme-popper);
    border: 1px solid var(--theme-boder-color);
    backdrop-filter: blur(var(--global-filter));
    box-shadow: var(--el-box-shadow-lighter);
    width: 40%;
    max-width: 320px;
    z-index: 9999 !important;
}

.el-message--info {
    --el-message-text-color: var(--theme-color);
}

.el-message__content {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/* el-message-box */
.el-message-box {
    border: none;
    background-color: var(--theme-dialog);
    backdrop-filter: blur(var(--global-filter));
}

.el-message-box__header {
    padding: 18px 15px;
    background: var(--theme-header-bg);
    border-bottom: 1px solid var(--theme-boder-color);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
}

.el-message-box__title {
    font-size: 15px;
    color: var(--theme-color);
}

.el-message-box__content {
    padding: 15px;
    font-size: 14px;
    color: var(--theme-color);
}

.el-message-box__message p {
    white-space: break-spaces;
}

/*el-result*/
.el-result__title p {
    font-size: 18px;
    color: var(--theme-color);
}

.el-result__subtitle p {
    font-size: 13px;
    color: var(--theme-color-sub);
}

/*emoji*/
.emoji-popper .el-scrollbar {
    height: 185px;
    padding: 0 5px;
}

.emoji-table {
    display: grid;
    grid-template-columns: 45px 45px 45px 45px 45px 45px;
    overflow-y: scroll;
}

.emoji-table span {
    width: 1.5rem;
    height: 1.5rem;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .5s;
}

.emoji-table span:hover {
    background-color: rgba(150, 150, 150, .1);
}

.emoji-table .el-image .el-image__placeholder {
    padding: 12px 0;
    background: transparent;
}

/*dplayer*/
#dplayer {
    height: 420px;
    background: #000;
}

.dplayer-setting,
.dplayer-full-in-icon,
.dplayer-notice {
    display: none !important;
}

.dplayer-video.cover {
    object-fit: cover;
}

.dplayer-menu .dplayer-menu-item {
    transition: background-color .3s;
}

.dplayer-menu .dplayer-menu-item a {
    text-decoration: none;
}

/* 晃动css */
@keyframes shake {
    0%, 20% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(6deg);
    }

    30% {
        transform: rotate(-6deg);
    }

    35% {
        transform: rotate(6deg);
    }

    40% {
        transform: rotate(-6deg);
    }

    45% {
        transform: rotate(6deg);
    }

    50% {
        transform: rotate(-6deg);
    }

    55%, 100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    .lite-chatbox .el-image {
        max-height: 200px;
    }

    .el-aside {
        --el-aside-width: 0;
    }

    .el-header {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .el-message {
        width: 90%;
    }

    .el-message-box {
        max-width: 95%;
    }

    .lite-chatbox .content {
        max-width: 70%;
    }

    .right-navigate {
        display: block;
    }

    .room-info > .el-avatar {
        display: none;
    }

    .room-info {
        justify-content: center;
    }

    .room-name {
        text-align: center;
    }

    .el-drawer {
        width: 100% !important;
    }

    .setting-scroll {
        overflow: auto;
        max-height: fit-content;
    }

    #local-video {
        top: 5px;
        width: 100px;
    }

    #remote-video, #recorder-video, #dplayer {
        height: 100vh;
    }

    /* .el-dialog */
    .el-dialog {
        width: 100%;
        --el-dialog-margin-top: 0;
        margin-bottom: 0;
        height: 100%;
        overflow: auto;
        border-radius: 0;
        margin-top: 0;
    }

    .el-dialog__header {
        font-weight: bold;
        text-align: center;
    }

    .video-dialog .el-dialog__header {
        display: none;
    }

    .video-dialog .el-dialog__body {
        padding: 0;
    }

    .el-dialog.video-dialog {
        width: 100%;
        margin: 0;
    }

    .video-dialog .el-button.is-disabled,
    .video-dialog .el-button.is-disabled:focus,
    .video-dialog .el-button.is-disabled:hover {
        color: #eee;
        background-color: rgba(0, 0, 0, .3);
    }

    .video-option {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        padding-bottom: 20px;
        transition: opacity .5s;
    }

    .video-dialog .connect-time {
        color: #eee;
    }

    .video-option .el-button {
        color: #eee !important;
        background-color: rgba(0, 0, 0, .2) !important;
    }
}
